<!DOCTYPE html>
<html>
<head>
    
    <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
        <script>
            L_NO_TOUCH = false;
            L_DISABLE_3D = false;
        </script>
    <style>#map {position:absolute;top:0;bottom:0;right:0;left:0;}</style>
    <script src="https://cdn.jsdelivr.net/npm/leaflet@1.9.3/dist/leaflet.js"></script>
    <script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/leaflet@1.9.3/dist/leaflet.css"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@fortawesome/fontawesome-free@6.2.0/css/all.min.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.css"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/python-visualization/folium/folium/templates/leaflet.awesome.rotate.min.css"/>
    
            <meta name="viewport" content="width=device-width,
                initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
            <style>
                #map_dd19c8493c601dc01627fb7ec36bcbed {
                    position: relative;
                    width: 800.0px;
                    height: 500.0px;
                    left: 0.0%;
                    top: 0.0%;
                }
                .leaflet-container { font-size: 1rem; }
            </style>
        
</head>
<body class="wix-madefor">
    
            <div class="folium-map" id="map_dd19c8493c601dc01627fb7ec36bcbed" ></div>
        
</body>
<script>
    
    
            var map_dd19c8493c601dc01627fb7ec36bcbed = L.map(
                "map_dd19c8493c601dc01627fb7ec36bcbed",
                {
                    center: [18.906286495910905, 79.40917968750001],
                    crs: L.CRS.EPSG3857,
                    zoom: 5,
                    zoomControl: true,
                    preferCanvas: false,
                }
            );

            

        
    
            var tile_layer_67b6d3705607bd34d5b4731400794897 = L.tileLayer(
                "https://tile.openstreetmap.org/{z}/{x}/{y}.png",
                {"attribution": "\u0026copy; \u003ca href=\"https://www.openstreetmap.org/copyright\"\u003eOpenStreetMap\u003c/a\u003e contributors", "detectRetina": false, "maxNativeZoom": 19, "maxZoom": 19, "minZoom": 0, "noWrap": false, "opacity": 1, "subdomains": "abc", "tms": false}
            );
        
    
            tile_layer_67b6d3705607bd34d5b4731400794897.addTo(map_dd19c8493c601dc01627fb7ec36bcbed);
        
    
            var marker_85b1b3da07be9a25cc9e34497b021fff = L.marker(
                [17.4127332, 78.078362],
                {}
            ).addTo(map_dd19c8493c601dc01627fb7ec36bcbed);
        
    
        var popup_4d493bef7aa42001be7b579f3db3f9e7 = L.popup({"maxWidth": "100%"});

        
            
                var html_6229b759a2f08e96d38b4e21939aae44 = $(`<div id="html_6229b759a2f08e96d38b4e21939aae44" style="width: 100.0%; height: 100.0%;"><i>This a marker</i></div>`)[0];
                popup_4d493bef7aa42001be7b579f3db3f9e7.setContent(html_6229b759a2f08e96d38b4e21939aae44);
            
        

        marker_85b1b3da07be9a25cc9e34497b021fff.bindPopup(popup_4d493bef7aa42001be7b579f3db3f9e7)
        ;

        
    
</script>
</html>